<div class="mx-auto max-w-7xl py-4 sm:px-6 lg:px-8 flex justify-end">
  <%= link_to 'Add Expenses', '/receipt_form/index', class:"inline-flex items-center rounded-md border border-transparent bg-gray-800 px-4 py-2 text-sm font-medium text-gray-200 shadow-sm hover:bg-fuchsia-700 hover:text-white focus:outline-none" %>
</div>
<div id='purchase-table' class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class='w-full text-sm text-left text-gray-500 dark:text-gray-400'>
    <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      All expenses
    </caption>
    <thead class='text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400'>
      <tr>
        <th scope="col" class="px-6 py-3">LP</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Type</th>
        <th scope="col" class="px-6 py-3">Brand</th>
        <th scope="col" class="px-6 py-3">Category</th>
        <th scope="col" class="px-6 py-3">How many</th>
        <th scope="col" class="px-6 py-3">Unit type</th>
        <th scope="col" class="px-6 py-3">Units price</th>
      </tr>
    </thead>
    <tbody>
    <% @PurchasedItems.each_with_index do |purchase, idx| %>
      <tr>
        <td><%= idx+1 %></td>
        <td><%= purchase.name %></td>
        <td><%= purchase.type_id %></td>
        <td><%= purchase.brand_id %></td>
        <td><%= purchase.cateogory_id %></td>
        <td><%= purchase.unit_number %></td>
        <td><%= purchase.unit_type_id %></td>
        <td><%= purchase.unit_price %></td>
        #<td><%= link_to "Edit", edit_purchase_path(book) %></td>
        #<td><%= link_to "Delete", purchased_items, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
