<div class="mx-auto max-w-7xl py-4 sm:px-6 lg:px-8 flex justify-center">
  <h>Add new receipt</h>
</div>
<div class="mx-auto max-w-7xl py-4 sm:px-6 lg:px-8 flex justify-center">
  <%= form_with model: Receipt.new, method: :post, local: true, class: 'w-1/2' do |form| %>
    <div class="shadow sm:overflow-hidden sm:rounded-md">
      <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
        <div>
          <%= form.label :sdate, "Shopping date", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.date_field :sdate, class:"mt-1 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-fuchsia-700 sm:py-1.5 sm:text-sm sm:leading-6" %>
          </div>
        </div>
        <div>
          <%= form.label :name, "Shop", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :name, class: "mt-1 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-fuchsia-700 sm:py-1.5 sm:text-sm sm:leading-6", placeholder: "Small one next block" %>
          </div>
        </div>
        <div>
          <%= form.label :comment, "Comment", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.text_area :comment, rows: "2", class: "mt-1 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-fuchsia-700 sm:py-1.5 sm:text-sm sm:leading-6", placeholder: "For my b-day party" %>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 text-right sm:px-6">
        <%= form.submit "Next", class: "inline-flex justify-center rounded-md bg-gray-800 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-fuchsia-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" %>
      </div>
    </div>
  <% end %>
</div>